@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://unpkg.com/react-tabs@2/style/react-tabs.css');

.App {
  font-family: 'Lato', sans-serif;
  position: relative;
}

.App-header {
  background-color: #007AFF;
  height: 250;
  padding: 20px;
  color: white;
  margin-bottom: 0;
  flex-direction: row;
  display: flex;
}

.App-title-before {
  text-align: center;
  font-size: 1.6em;
  font-weight: 400;
  flex: 5;
}

.App-title {
  text-align: center;
  padding-left: 10%;
  font-size: 1.6em;
  font-weight: 400;
  flex: 5;
}

.settings {
  flex: 9;
}

.content {
  text-align: left;
  margin: 7.5%;
  margin-top: 2.5%;
  font-weight: 300;
  font-size: large;
}

.search {
  margin-bottom: 64px;
  margin-top: 2.5%;
  padding: 0;
  text-align: center;
}

.searchTerm {
  width: 70%;
  font-size: medium;
  padding: 1.5%;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.searchButton {
  background-color: #d63031;
  color: white;
  box-shadow: none;
  border-radius: 0;
  font-size: medium;
  padding: 1.5%;
  border-color: #d63031;
  border-radius: 2px;
  margin-left: 8px;
  margin-right: 8px;
  transition-duration: .5s;
}

.searchButton:hover {
  color: #d63031;
  background-color: white;
}

.approveAll {
  background-color: #FF0000;
  color: white;
  font-size: medium;
  padding: 1.5%;
  border-radius: 3px;
  border-radius: 3px;
  border-color: #FF0000;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
  transition-duration: .5s;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.approveAll:hover {
  color: #FF0000;
  background-color: white;
}

.blue {
  background-color: #007AFF;
  color: white;
  font-size: medium;
  padding: 10px;
  border-radius: 3px;
  border-color: #007AFF;
  transition-duration: .4s;
  margin-right: 4%;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 2%;
}

.green {
  background-color: #64db02;
  color: white;
  font-size: medium;
  padding: 10px;
  border-radius: 3px;
  border-color: #64db02;
  transition-duration: .4s;
  margin-right: 4%;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 2%;
}

.red {
  background-color: #FF0000;
  color: white;
  font-size: medium;
  padding: 10px;
  border-radius: 3px;
  border-color: #FF0000;
  transition-duration: .4s;
  margin-right: 4%;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 2%;
}

.blue:hover {
  color: #007AFF;
  background-color: white;
}

.red:hover {
  color: #FF0000;
  background-color:white;
}

.green:hover {
  color: #64db02;
  background-color:white;
}

.view {
  background-color: #007AFF;
  color: white;
  font-size: medium;
  padding: 10px;
  border-radius: 3px;
  border-color: #007AFF;
  transition-duration: .6s;
  margin-right: 4%;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 2%;
}

.view:hover {
  color: #007AFF;
  background-color: white;
  border-color: #007AFF;
}

th {
  background-color: #0065A9;
  color: white;
}

td, th {
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #F2F2F2;
}

table {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  width: 100%;
}

.popup {
  top: 50;
  left: 50;
  position: absolute;
  width: 400px;
  /* height: 80%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #e5e5e5;
  background-color: #F2F2F2;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  padding: 20px;
  border-radius: 10px;
}

.popup-data-settings {
  height: 90%;
  overflow: scroll;
}

.popup-data {
  height: 65%;
  overflow: scroll;
}

.deleteButton {
  background-color: #FF0000;
  color: white;
  font-size: medium;
  padding: 10px;
  border-radius: 3px;
  border-color: #FF0000;
  transition-duration: .6s;
  margin-top: 2%;
  width: 100%;
}

.deleteButton:hover {
  color: #FF0000;
  background-color:white;
}

.closeButton {
  background-color: #007AFF;
  color: white;
  font-size: medium;
  padding: 10px;
  border-radius: 3px;
  border-color: #007AFF;
  transition-duration: .6s;
  margin-top: 2%;
  width: 100%;
}

.closeButton:hover {
  color: #007AFF;
  background-color:white;
}

.login {
  padding: 32px;
  width: 10%;
  text-align: left;
  margin-right: 40%;
  margin-left: 40%;
}

input, label {
  margin: 8px;
  width: 100%;
}

input[type=submit] {
  background-color: #007AFF;
  color: white;
  border: 2px solid #007AFF;
  border-radius: 5px;
  height: 30px;
  width: 105%;
  font-size: .8em;
}

.messageLeft {
  /* margin: 5px; */
  margin-right: 100px;
}
.messageRight {
  /* margin: 5px; */
  margin-left: 100px;
}

.messageBodyLeft {
  background-color: lightgray;
  border-radius: 10px;
  padding: 5px;
  /* padding: 0px 5px; */
}

.messageBodyRight {
  background-color: skyblue;
  border-radius: 10px;
  padding: 5px;
  /* padding: 0px 5px; */
}

.messageBodyLeft p {
  padding: 0px 5px;
  margin: 0px;
}

.messageBodyRight p {
  padding: 0px 5px;
  margin: 0px;
}

.time {
  font-style: italic;
  color: gray;
  font-size: 10px;
}

.sender {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 13px;
}

.radioDiv {
  display: flex;
  flex-direction: row;
}

.radio {
  flex: 1;
}

.checkboxDiv {
  flex-direction: row;
}

.checkbox {
  width: 30px;
  flex: 1;
}

.checkboxLabel {
  font-size:16px;
  flex: 2;
  width: 40%;
  margin:0px;
}

.learningPlan {
  text-align: center;
  border: 1px solid red;
}

.learningPlan .new-button {
  margin: 10px;
}

.learningPlanCard {
  width: 500px;
  border: 1px solid black;
  box-sizing:content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}

.learningPlanListItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px dashed lightgray;
  //border-radius: 10px;
  overflow: hidden;
  margin: 5px;
  width: 100%;
}

.learningPlanListItem p {
  display: block;
  //border: 1px solid green;
  margin: auto 0;
  padding: 5px;
}

.learningPlanListItem .form-check-input {
  align-self: center;
  margin-top: 0px;
}

.complete {
  background-color: gray;
}

.learningPlanCard input {
  max-width: 95%;
}

.learningPlanCard .title {
  text-align: center;
}

p {
  margin: 2px;
  padding: 0px;
}
